In [2]:
import pandas as pd

/tmp/ipykernel_7124/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
from zipfile import ZipFile
from urllib.request import urlopen
from io import BytesIO

with urlopen("https://www2.census.gov/topics/genealogy/2010surnames/names.zip") as f_zip:
    f = ZipFile(BytesIO(f_zip.read()))

df = pd.read_csv(f.open("Names_2010Census.csv"))
df

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4
1,JOHNSON,2,1932812,655.24,1483.42,58.97,34.63,0.54,0.94,2.56,2.36
2,WILLIAMS,3,1625252,550.97,2034.39,45.75,47.68,0.46,0.82,2.81,2.49
3,BROWN,4,1437026,487.16,2521.56,57.95,35.6,0.51,0.87,2.55,2.52
4,JONES,5,1425470,483.24,3004.80,55.19,38.48,0.44,1,2.61,2.29
...,...,...,...,...,...,...,...,...,...,...,...
162249,DIETZMANN,160975,100,0.03,90062.93,96,0,0,(S),0,(S)
162250,DOKAS,160975,100,0.03,90062.96,94,(S),0,0,(S),(S)
162251,DONLEA,160975,100,0.03,90062.99,94,0,0,0,0,6
162252,DORIOTT,160975,100,0.03,90063.03,89,0,(S),0,5,(S)
162253,ALL OTHER NAMES,0,29312001,9936.97,9936.97,66.65,8.53,7.97,0.86,2.32,13.67

In [4]:
df_last_name = df[df["name"] != "ALL OTHER NAMES"]
df_last_name

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4
1,JOHNSON,2,1932812,655.24,1483.42,58.97,34.63,0.54,0.94,2.56,2.36
2,WILLIAMS,3,1625252,550.97,2034.39,45.75,47.68,0.46,0.82,2.81,2.49
3,BROWN,4,1437026,487.16,2521.56,57.95,35.6,0.51,0.87,2.55,2.52
4,JONES,5,1425470,483.24,3004.80,55.19,38.48,0.44,1,2.61,2.29
...,...,...,...,...,...,...,...,...,...,...,...
162248,DOBBEN,160975,100,0.03,90062.89,98,0,(S),0,0,(S)
162249,DIETZMANN,160975,100,0.03,90062.93,96,0,0,(S),0,(S)
162250,DOKAS,160975,100,0.03,90062.96,94,(S),0,0,(S),(S)
162251,DONLEA,160975,100,0.03,90062.99,94,0,0,0,0,6
162252,DORIOTT,160975,100,0.03,90063.03,89,0,(S),0,5,(S)

In [5]:
df_last_name["name"] = df_last_name["name"].str.capitalize()
df_last_name

/tmp/ipykernel_7124/9840047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_last_name["name"] = df_last_name["name"].str.capitalize()

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,Smith,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4
1,Johnson,2,1932812,655.24,1483.42,58.97,34.63,0.54,0.94,2.56,2.36
2,Williams,3,1625252,550.97,2034.39,45.75,47.68,0.46,0.82,2.81,2.49
3,Brown,4,1437026,487.16,2521.56,57.95,35.6,0.51,0.87,2.55,2.52
4,Jones,5,1425470,483.24,3004.80,55.19,38.48,0.44,1,2.61,2.29
...,...,...,...,...,...,...,...,...,...,...,...
162248,Dobben,160975,100,0.03,90062.89,98,0,(S),0,0,(S)
162249,Dietzmann,160975,100,0.03,90062.93,96,0,0,(S),0,(S)
162250,Dokas,160975,100,0.03,90062.96,94,(S),0,0,(S),(S)
162251,Donlea,160975,100,0.03,90062.99,94,0,0,0,0,6
162252,Doriott,160975,100,0.03,90063.03,89,0,(S),0,5,(S)

In [6]:
df_last_name[["name", "count"]].to_csv("last-name.csv", index=False)